.omni-bg {
    background: #191622;
    color: #E1E1E6;
}

.omni-fg {
    color: #E1E1E6;
}





#sidenav-toggler {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
}
#sidenav-toggler i.material-icons {
    font-size: 32px;
}





h1 {
    padding-bottom: 15px;
    border-bottom: 3px dashed #E1E1E6;
}

p {
    font-size: 1.3em;
}




.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    border: 2px dashed #E1E1E6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.image-container .image-description {
    margin-top: 10px;
    border-top: 2px dashed #E1E1E6;
    padding-top: 5px;
    font-size: 1.1em;
}

.image-container,
.image-container .image-description,
.image-container img {
    max-width: 100%;
}








/* Recreate materialize styles */
.omni-sidenav {
    background: #191622;
    color: #E1E1E6;
}
.omni-sidenav li a,
.omni-sidenav li a i.material-icons {
    color: #E1E1E6;
}
.omni-sidenav .divider {
    background: #E1E1E6;
}
.omni-sidenav li a.subheader {
    color: #41414D;
}
.omni-sidenav .collapsible-body {
    background: #1f1c2b;
}
.omni-sidenav .subheader-li {
    line-height: 32px;
}
.omni-sidenav .subheader-li .subheader {
    line-height: 32px;
    height: 32px;
}
.omni-sidenav > li > a {
    padding: 0 16px;
}

.omni-nav {
    background: #191622;
    color: #E1E1E6;
    box-shadow: none;
}

#materialbox-overlay {
    background: #191622;
}

.omni-footer {
    background: #41414D;
}


main {
    min-height: 100vh;
}
